<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="footer__container">
				<div class="footer__logo">
					<img src="/img/logo.png" alt="logo">
				</div>
				<div class="footer__info">
					<div class="footer__info__mail">
						<a class="footer__info__mail-link" href="mailto:krigerexport@gmail.com">krigerexport@gmail.com</a>
					</div>
					<div class="footer__info__phones">
						<a class="footer__info__phones-link" href="tel:+380504462442">+38(050)446-24-42</a>
					</div>
					<div class="footer__info__order">
						<a class="footer__info__order-link open-popup" href=".popup-form">ЗАКАЗАТЬ ЗВОНОК</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<div class="footer__bottom__container">
				<div class="footer__bottom__copy">2016, Kriger. Все права защищены</div>
				<div class="footer__bottom__garnet">Дизайн и разработка <a href="http://garnet-soft.com">Garnet Soft.</a> 2016</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/main.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter36941085 = new Ya.Metrika({
                    id:36941085,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/36941085" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>