<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kriger</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">

</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header__container">
				<div class="header__logo">
					<img src="/img/logo.png" alt="logo">
				</div>
				<div class="header__info">
					<div class="header__info__mail">
						<a class="header__info__mail-link" href="#">dvm@kriger.com.ua</a>
					</div>
					<div class="header__info__phones">
						<a class="header__info__phones-link" href="#">+38(0412) 481-532</a>
						<a class="header__info__phones-link" href="#">+38(0412) 481-530</a>
					</div>
					<div class="header__info__order">
						<a class="header__info__order-link" href="#">ЗАКАЗАТЬ ЗВОНОК</a>
					</div>
				</div>
			</div>
		</div>
	</header>